---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import {PostOverview} from '../components/post-overview.js';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Welcome to <span class="text-gradient">Astro</span></h1>
		<p class="instructions">
			To get started, open the directory <code>src/pages</code> in your project.<br />
			<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
		</p>
		<div id="post-list">
			<!-- <Card
				href="https://docs.astro.build/"
				title="Documentation"
				body="Learn how Astro works and explore the official API docs."
			/>
			<Card
				href="https://astro.build/integrations/"
				title="Integrations"
				body="Supercharge your project with new frameworks and libraries."
			/>
			<Card
				href="https://astro.build/themes/"
				title="Themes"
				body="Explore a galaxy of community-built starter themes."
			/>
			<Card
				href="https://astro.build/chat/"
				title="Community"
				body="Come say hi to our amazing Discord community. ❤️"
			/> -->
			</div>
		<a href="/new" class="new_button">New</a>
	</main>
</Layout>

<script>
	window.onload = (event) => {
		fetch("http://localhost:8080/posts",
		{
			method: "get",
			headers: {
				'Accept': 'application/json'
			}
		})
		.then((response) => {
			return response.json()
		})
		.then((data) => {
			var listElem = document.getElementById("post-list")
			if (listElem) {
				for (const [key, value] of Object.entries(data)) {
					listElem.insertAdjacentHTML( 'beforeend', `<div>${value.title}</div>` );
				}
			}
			//alert(JSON.stringify(data))
		})
	}

type PostOverviewCollection = { 
  [id: string]: PostOverview; 
}

type PostOverview = {
  id: string;
  title: string;
  author: string;
  upvotes: number;
  created: string;
  updated: string;
  fileCount: number;
}
</script>

<style>

	.new_button {
		float: right;
	}

</style>
