---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Create a new post">
	<main>
		<h1>Create a new <span class="text-gradient">Post</span></h1>
		<p class="instructions">
			To get started, open the directory <code>src/pages</code> in your project.<br />
			<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
		</p>
    <form>
      <label for="title">Enter the post title: </label>
      <input type="text" name="title" id="title" required>

      <div>
        <label for="content">Enter the post content: </label><br/>
        <textarea name="content" id="content" class="post_content"></textarea>
      </div>

      <div>
        <label for="attachments">Select a file:</label>
        <input type="file" id="attachments" name="attachments" multiple>  
      </div>

      <a id="post_submit_button">Submit</a>
    </form>
  </main>
</Layout>

<script>
  var postButton = document.getElementById("post_submit_button")
  if (postButton)
    postButton.addEventListener('click', (e) => {
      var title = "", content = ""
      var files

      var titleField = (document.getElementById("title") as HTMLInputElement)
      if (titleField) title = titleField.value

      var contentField = (document.getElementById("content") as HTMLInputElement)
      if (contentField) content = contentField.value

      var fileInput = (document.getElementById("attachments") as HTMLInputElement)
      if (fileInput) files = fileInput.files


      let formData = new FormData();
      formData.append('title', title);
      formData.append('content', content);

      var index = 1;
      for (var file in files) {
        formData.append('files', files[file])
        index++
      }

      fetch("http://localhost:8080/posts",
      {
        body: formData,
        method: "post",
        headers: {
          'Accept': 'application/json'
        }
      })
      .then((response) => {
        return response.json()
       })
      .then((data) => {
        alert(JSON.stringify(data))
      })
    })

</script>

<style>
  .post_field {
    width: 100%;
  }
  .post_content {
    width: 100%;
    height: 400px;
  }
  #post_submit_button {
    float: right;
  }
</style>